@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --light: #f1f5f8;
    --green: #678e3e;
}


header {
    background: url("img/coffee.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-bottom: 5px solid rgba(123, 678, 076, 0.75);
}

:is(header, h2, h1, .btn) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:is(header) h2 {
    color: rgb(21, 174, 21);
    font-size: 3rem;
    font-family: 'Kalam', cursive;
    text-transform: capitalize;
}

:is(header) h1 {
    color: var(--light);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0 0 8px var(--light);
}


:is(header) button {
    padding: 10px 40px;
    border: none;
    text-transform: uppercase;
    color: var(--light);
    font-weight: bolder;
    outline: 2px solid var(--green);
    outline-offset: 5px;
    background-color: var(--green);
    letter-spacing: 3px;
    transition: all 1s linear;
}

header button {
    margin-top: 20px;
    font-size: 1.2rem;
}

header button:hover {
    background-color: var(--light);
    color: var(--green);
}

.bars {
    position: absolute;
    left: 5%;
    top: 5%;
    color: var(--green);
}

.fa-bars {
    font-size: 3rem;
    cursor: pointer;
}

.sidebar {
    display: flex;
}

.sidebar .col-md-3 {
    background-color: var(--light);
}

.sidebar .col-md-3:hover {
    background-color: #fff;
}


section .col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    transition: all .4s ease;
}

.sidebar .col-md-3:hover {
    cursor: pointer;
    background-color: #fff;
    border-bottom: 3px solid var(--green);
}

section .col-md-3 span {
    font-size: 1.5rem;
}

section .col-md-3 i {
    font-size: 2rem;
    color: var(--green);
}

.row .col-md-5 {
    margin-top: 50px;
}

.row .col-md-4 img {
    height: 400px;
    width: 85%;
    outline: 5px solid var(--green);
    outline-offset: 5px;
}

.row:nth-child(3) {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about p {
    width: 60%;
    text-align: left;
}

.about button {
    padding: 5px 40px;
    text-transform: uppercase;
    background-color: var(--green);
    color: var(--light);
    letter-spacing: 2px;
    font-weight: 500;
    border: none;
    -webkit-box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
}

.our-products {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    background-color: var(--light);
    padding: 100px;
}

.our-products .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 15%;
}

.our-products img {
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 20px;
    object-fit: cover;
    transition: all 1s linear;
}

.our-products img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.image span {
    font-size: 1.2rem;
}

.our-products button {
    padding: 5px 30px;
    text-transform: uppercase;
    background-color: var(--green);
    color: var(--light);
    letter-spacing: 2px;
    font-weight: 500;
    border: none;
    -webkit-box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
}

.explore {
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

.our-services {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
}

.explore h1:nth-child(2):after {
    content: "";
    display: block;
    height: 5px;
    width: 200px;
    background-color: var(--green);
    margin: 10px auto;
}

.card {
    background-color: var(--light);
    -webkit-box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
    transition: all 1s linear;
}

.card:hover {
    /* transform: translateY(-100px); */
    transform: translateY(-50px);
}

.card img {
    width: 100%;
    max-height: 250px;
    border-radius: 10px;
}

.card button {
    padding: 5px 40px;
    text-transform: uppercase;
    background-color: var(--green);
    color: var(--light);
    letter-spacing: 2px;
    font-weight: 500;
    border: none;
    -webkit-box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
}

.card button:hover {
    background-color: var(--light);
    color: var(--green);
}

.contact {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.contact-form button {
    padding: 5px 30px;
    text-transform: uppercase;
    background-color: var(--green);
    color: var(--light);
    letter-spacing: 2px;
    font-weight: 500;
    border: none;
    -webkit-box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 10px 5px -5px rgba(0, 0, 0, 0.75);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #000;
    color: var(--light);
    margin-top: 50px;
}

footer i {
    font-size: 1.5rem;
    margin: 10px;
}

footer p {
    font-size: 1.5rem;
}